<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./assets/styles.css" />
  <title>Request Header Parser Microservice</title>
</head>
<body>
  <header class="center">
    <h3>API Project: Request Header Parser Microservice</h3>
  </header>
  <article class="container">
    <p>You can see your ip address, language preferred and browser with the os you are using.</p>
    <h4>Example Usage:</h4>
    <ul>
      <li id="example1"></li>
    </ul>
    <h4>Output:</h4>
    <ul>
      <li>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
        "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</li>
    </ul>
  </article>
  <footer>
    <h5>freeCodeCamp project for "Back End Development And APIs" certification</h5>
  </footer>
  <script src="./assets/scripts.js"></script>
</body>
</html>